<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       										 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
													 http://www.springframework.org/schema/context
													 http://www.springframework.org/schema/context/spring-context-4.0.xsd
													 http://www.springframework.org/schema/util
													 http://www.springframework.org/schema/util/spring-util.xsd
													 http://www.springframework.org/schema/task
													 http://www.springframework.org/schema/task/spring-task.xsd">
    <import resource="dubbo-provider.xml"></import>
    <!-- 配置文件 -->
    <util:properties id="config" location="classpath:config.properties"/>
    <!-- 自动扫描路径 -->
    <context:component-scan base-package="com.shaw.provider"/>
    <!-- 开启定时轮询 -->
    <task:annotation-driven/>


    <!--bean 配置-->
    <!--lucene 索引操作类 -->
    <bean id="dmhyDataIndex" class="com.shaw.lucene.DmhyDataIndex"></bean>
    <bean id="blogIndex" class="com.shaw.lucene.BlogIndex"></bean>
    <!--handler配置-->
    <bean id="blogDataHandler" class="com.shaw.handler.BlogDataHandler"></bean>
    <bean id="dmhyDataHandler" class="com.shaw.handler.DmhyDataHandler"></bean>


    <bean id="canalClient" class="com.shaw.canal.CanalClient" init-method="start">
        <property name="handlers">
            <map>
                <entry key="db_blog_t_blog" value-ref="blogDataHandler"/>
                <entry key="test_dmhy" value-ref="dmhyDataHandler"/>
            </map>
        </property>
    </bean>


</beans>
